{% extends "plantilla/inicio.html" %}
{% block title %} DIAGNOSTICO_EMP {% endblock %}
{% block contenido %}
<ul class="nav nav-tabs nav-justified">
    <li>
        <a href="{% url 'mincit:situacion' id_diagnostico=id_diag %}">Situacion</a>
    </li>
    <li><a href="{% url 'mincit:planeacion' id_diagnostico=id_diag %}">Planeacion</a>
    </li>
    <li><a href="{% url 'mincit:organizacion' id_diagnostico=id_diag %}">Organizacion</a>
    </li>
    <li><a href="{% url 'mincit:direccion' id_diagnostico=id_diag %}">Direccion</a>
    </li>
    <li class="active"><a href="">Control</a></li>
    <li><a href="#">Recursos</a></li>
    <li><a href="#">Mercadeo</a></li>
    <li><a href="#">Financiera</a></li>
    <li><a href="#">Produccion</a></li>
    <li><a href="#">Internacionalizacion</a></li>
    <li><a href="#">Aspectos</a></li>
    <li><a href="#">Resumen</a></li>
</ul>
<div class="row">
    <h1 class="text-center text-success">
        <p>
            CONTROL
        </p>
    </h1>
</div>
<form class="form-horizontal col-xs-12" action="" method="post">
    {% csrf_token %}
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">La empresa cuenta con un sistema
            de control: </label>
        <div class="col-sm-4">
            {{form.sistema_control}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">La empresa compara lo planeado con
            lo ejecutado, analiza los resultados y se corrige oportunamente las
            fallas: </label>
        <div class="col-sm-4">
            {{form.compara_planeado}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">La empresa usa indicadores clave
            de desempeño/ rendimiento para medir la eficacia:</label>
        <div class="col-sm-4">
            {{form.uso_indicadores}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Monitorea los indicadores y hace
            seguimiento de los resultados de las estrategias:</label>
        <div class="col-sm-4">
            {{form.monitoreo_indicadores}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit"
                    class="btn btn-success btn-block btn-flat"> Guardar y
                Enviar
            </button>
        </div><!-- /.col -->
    </div>

</form>
{% endblock %}