{% extends "plantilla/inicio.html" %}
{% block title %} DIAGNOSTICO_EMP {% endblock %}
{% block contenido %}

<div class="text-center text-success">
    <h2>
        <b>
            DIAGNÓSTICO DE LA EMPRESA
        </b>
    </h2>
    <div class="h3">
        Programa de Fortalecimiento Empresarial
    </div>
</div>
{% if object_list %}
<div class="col-md-8 col-md-offset-2 text-center">

    <table class="table table-bordered table-stripped">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Asesor</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Opciones</th>
        </thead>
        <tbody>
        {% for diag in object_list %}
        <tr>
            <td>{{ diag.id }}</td>
            <td>{{ diag.asesor }}</td>
            <td>{{ diag.fecha}}</td>
            <td>
                <a class="btn btn-default btn-xs" title="Diagnostico Emp"
                   data-toggle="tooltip" data-placement="top"
                   href="{% url 'mincit:diagnostico_emp'%}">
                    <i class="fa fa-search">Diagnostico_Emp</i>
                </a>
                <a class="btn btn-default btn-xs" title="Plan Accion"
                   data-toggle="tooltip" data-placement="top"
                   href="">
                    <i class="fa fa-search">Plan_Accion</i>
                </a>
                <a class="btn btn-default btn-xs" title="Diagnostico Idea"
                   data-toggle="tooltip" data-placement="top"
                   href="">
                    <i class="fa fa-search">Diagnostico_Idea</i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'plantilla/pagination.html' %}

    {% else %}

    <div class="col-md-12 text-right">
        <a href="" class="btn btn-success">
            <i class="fa fa-plus"></i> Registrar Diagnostico de empresa
        </a>
    </div>

    <h4 class="text-danger text-center">No se han registrado diagnosticos de la
        empresa.</h4>


    {% endif %}

</div>
{% endblock %}