{% extends "plantilla/inicio.html" %}
{% block title %} DIAGNOSTICO_EMP {% endblock %}
{% block contenido %}

<div class="text-center text-success">
    <h2>
        <b>
            DIAGNÓSTICO DE LA EMPRESA
        </b>
    </h2>
    <div class="h3">
        Programa de Fortalecimiento Empresarial
    </div>
</div>
<div class="col-md-8 col-md-offset-2 text-center">

    <table class="table table-bordered table-stripped">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Asesor</th>
            <th class="text-center">Fecha</th>
            <th class="text-center">Numero Diagnostico</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ diag.id}}</td>
            <td>{{ diag.asesor}}</td>
            <td>{{ diag.fecha}}</td>
            <td>{{ diag.numero_consecutivo}}</td>
        </tr>
        </tbody>
    </table>

    {% include 'plantilla/pagination.html' %}

</div>
<div class="col-md-12 text-right">
    <a href="{% url 'mincit:situacion' diag.id %}" class="btn btn-success">
        <i class="fa fa-plus"></i> Iniciar Registros
    </a>
</div>
{% endblock %}