{% extends "plantilla/inicio.html" %}
{% block title %} diagnostico_emp|Info {% endblock %}
{% block contenido %}

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="">Informacion</a></li>
    <li><a href="#">Situacion</a></li>
    <li><a href="#">Planeacion</a></li>
    <li><a href="#">Organizacion</a></li>
    <li><a href="#">Direccion</a></li>
    <li><a href="#">Control</a></li>
    <li><a href="#">Recursos</a></li>
    <li><a href="#">Mercadeo</a></li>
    <li><a href="#">Financiera</a></li>
    <li><a href="#">Produccion</a></li>
    <li><a href="#">Internacionalizacion</a></li>
    <li><a href="#">Aspectos</a></li>
    <li><a href="#">Resumen</a></li>
</ul>
<div class="row">
    <h1 class="text-center">
        <p>
            INFORMACION DE LA EMPRESA.
        </p>
    </h1>
</div>
<form class="form-horizontal col-xs-12" action="" method="post">
    {% csrf_token %}
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Nombre comercial
            de la empresa</label>
        <div class="col-sm-4">
            {{form.nombre_empresa}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Razón social: </label>
        <div class="col-sm-4">
            {{form.razon_social}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Nombre de
            contacto: </label>
        <div class="col-sm-4">
            {{form.nombre_contacto}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label" for="posicion">posicion de la
            empresa: </label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="posicion"
                       value="option1">
                Representante Legal
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="posicion2"
                       value="option2">
                Socio
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="posicion2"
                       value="option2">
                Otro
            </label>
            <input class="form-control" type="text" id="posicion3"
                   placeholder="Otro">
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Numero telefono: </label>
        <div class="col-sm-4">
            {{form.numero_tel}}
        </div>
        <label class="col-sm-2 control-label"> Telefono
            Movil: </label>
        <div class="col-sm-4">
            {{form.telfono_movil}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Tiempo de operacion: </label>
        <div class="col-sm-4">
            {{form.tiempo_operacion}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Cuales son los
            productos
            y/o servicios: </label>
        <div class="col-sm-4">
            {{form.productos_servicio}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit"
                    class="btn btn-success btn-block btn-flat"> Guardar y
                Enviar
            </button>
        </div><!-- /.col -->
    </div>
</form>
{% endblock %}