{% extends "plantilla/inicio.html" %}
{% block title %} DIAGNOSTICO_EMP {% endblock %}
{% block contenido %}
<ul class="nav nav-tabs nav-justified">
      <li><a href="">Situacion</a></li>
      <li class="active"><a href="#">Planeacion</a></li>
      <li><a href="#">Organizacion</a></li>
      <li><a href="#">Direccion</a></li>
      <li><a href="#">Control</a></li>
      <li><a href="#">Recursos</a></li>
      <li><a href="#">Mercadeo</a></li>
      <li><a href="#">Financiera</a></li>
      <li><a href="#">Produccion</a></li>
      <li><a href="#">Internacionalizacion</a></li>
      <li><a href="#">Aspectos</a></li>
      <li><a href="#">Resumen</a></li>
</ul>
<div class="row">
<h1 class="text-center text-success">
    <p>
        PLANEACION
    </p>
</h1>
</div>

{% endblock %}