{% extends "plantilla/inicio.html" %}
{% block title %} DIAGNOSTICO_EMP {% endblock %}
{% block contenido %}

<ul class="nav nav-tabs nav-justified">

    <li><a class="activate">Situacion</a></li>
    <li><a href="#">Planeacion</a></li>
    <li><a href="#">Organizacion</a></li>
    <li><a href="#">Direccion</a></li>
    <li><a href="#">Control</a></li>
    <li><a href="#">Recursos</a></li>
    <li><a href="#">Mercadeo</a></li>
    <li><a href="#">Financiera</a></li>
    <li><a href="#">Produccion</a></li>
    <li><a href="#">Internacionalizacion</a></li>
    <li><a href="#">Aspectos</a></li>
    <li><a href="#">Resumen</a></li>
</ul>
<div class="row">
    <h1 class="text-center">
        <p>
            SITUACION ACTUAL DE LA EMPRESA.
        </p>
    </h1>
    <h5 class="text-center">
        <p>
            Señale con un círculo la respuesta que refleja la situación actual
            de su empresa.
        </p>
    </h5>
</div>
<form class="form-horizontal col-xs-12"
      action="" method="post">
    {% csrf_token %}
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">
            INDIQUE EN CUÁL DE LOS SIGUIENTES SECTORES SE UBICA SU EMPRESA
        </label>
        <div class="col-sm-4">
            {{form.sector}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label" for="administra">
            INDIQUE CÓMO ADMINISTRA SU EMPRESA
        </label>
        <label class="col-sm-2 control-label" id="administra">
            La empresa establece planes a largo plazo
        </label>
        <div class="col-sm-4">
            {{form.planes_largo_p}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">
            La empresa ha definido:
        </label>
        <label class="col-sm-2 control-label">
            Mision

                {{form.mision}}

        </label>
        <label class="col-sm-2 control-label">
            Vision:
                {{form.vision}}
        </label>
        <label class="col-sm-2 control-label">
            Objetivos:
                {{form.objetivos}}
        </label>
        <label class="col-sm-2 control-label">
            Estrategias:
                {{form.estrategias}}
        </label>
        <label class="col-sm-2 control-label">
            Plan Accion:
                {{form.plan_accion}}
        </label>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">
            La empresa ha establecido valores:
        </label>
        <div class="col-sm-4">
            {{form.establece_valores}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Mencione los tres
            objetivos principales de su empresa en el largo plazo(+ de
            3años:</label>
        <div class="col-sm-4">
           {{form.objetivos_largo_plazo}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label"> Diga los principales recursos,
            capacidades y competencias que posee la empresa:</label>
        <div class="col-sm-4">
            {{form.recursos}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Mencione cuáles son las
            mayores debilidades que posee la empresa:</label>
        <div class="col-sm-4">
            {{form.debilidades}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">. Diga cuál (s) oportunidades
            que le ofrece actualmente el mercado:</label>
        <div class="col-sm-4">
            {{form.oportunidades}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Diga cuál (s) son los mayores
            obstáculos que hoy encuentra en el mercado:</label>
        <div class="col-sm-4">
            {{form.obstaculos}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label"> Mencione la Ventaja que ofrece
            la empresa y que es percibida por el cliente:</label>
        <div class="col-sm-4">
            {{form.ventaja_empresa}}
        </div>
    </div>
    <div class="form-group form-group-s">
        <label class="col-sm-2 control-label">Ventaja que ofrece la competencia
            en
            relación a la empresa:</label>
        <div class="col-sm-4">
            {{form.ventaja_competencia}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
            <button type="submit"
                    class="btn btn-success btn-block btn-flat"> Guardar y
                Enviar
            </button>
        </div><!-- /.col -->
    </div>

</form>
{% endblock %}