{% extends "plantilla/inicio.html" %}
{% block title %} Incio {% endblock %}
{% block contenido %}

{% if object_list %}
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th style="width: 35px">ID</th>
                    <th>Nombre</th>
                    <th>Nit</th>
                    <th style="width: 90px">Opciones</th>
            </thead>
            <tbody>
            {% for emp in object_list %}
                <tr>
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.nombre }}</td>
                    <td>{{ emp.nit}}</td>
                    <td>
                        <a class="btn btn-default btn-xs" title="Diagnostico Emp"
                           data-toggle="tooltip" data-placement="top"
                            href="{% url 'mincit:diagnostico_emp'%}">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Plan Accion"
                           data-toggle="tooltip" data-placement="top"
                            href="">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Diagnostico Idea"
                           data-toggle="tooltip" data-placement="top"
                            href="">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'plantilla/pagination.html' %}

    {% else %}
        <h3 class="text-info">No se han registrado empresas.</h3>
    {% endif %}

{% endblock %}