{% extends "plantilla/inicio.html" %}
{% block title %} Incio {% endblock %}
{% block contenido %}
<h1 class="text-center"><b>Empresas Registradas</b></h1>
{% if object_list %}
    <div class="col-md-8 col-md-offset-2 text-center">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Nit</th>
                    <th class="text-center">Opciones</th>
                    <th class="text-center">Registros</th>
            </thead>
            <tbody>
            {% for emp in object_list %}
                <tr>
                    <td>{{ emp.id }}</td>
                    <td>{{ emp.nombre }}</td>
                    <td>{{ emp.nit }}</td>
                    <td>
                         <a class="btn btn-default btn-xs" title="Informacion"
                           data-toggle="tooltip" data-placement="top"
                            href="{% url 'mincit:informacion' emp.id %}">
                            <i class="fa fa-edit">Editar Informacion</i>
                        </a>
                    </td>

                    <td>
                        <a class="btn btn-default btn-xs" title="Diagnostico Emp"
                           data-toggle="tooltip" data-placement="top"
                            href="{% url 'mincit:diagnostico_emp' emp.id %}">
                            <i class="fa fa-search">Diagnostico_Emp</i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Plan Accion"
                           data-toggle="tooltip" data-placement="top"
                            href="">
                            <i class="fa fa-search">Plan_Accion</i>
                        </a>
                        <a class="btn btn-default btn-xs" title="Diagnostico Idea"
                           data-toggle="tooltip" data-placement="top"
                            href="">
                            <i class="fa fa-search">Diagnostico_Idea</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'plantilla/pagination.html' %}

    {% else %}
        <h3 class="text-info">No se han registrado empresas.</h3>
    {% endif %}

    </div>
{% endblock %}